.side {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom left, #33ccff 0%, #ff99cc 100%);
  float: left;
  font-family: Arial, Helvetica, sans-serif;

}

.side h1 {
  padding-top: 25vh;
  text-align: center;
  color: black;
  letter-spacing: 1px;
}

.btn1 {
  margin-top: 15vh;
  margin-left: 17vw;
}

.btn2 {
  margin-top: 15vh;
  margin-left: 1vw;
}
